**/.settings/*
*.project
.hg/
*.classpath
**/.gwt-tmp/*
**/gwt-unitCache/*
**/target/*
**/bin/*
*.iml
**/.factorypath
*.nar
*.jar
*.orig
**/classes/*
**/.buildpath
**/transaction/dist/
**/transaction/node_modules/
**/*.pem
